@import '../../styles/colors.scss';

button {
  background-color: $primary;
  color: $white;
  line-height: 60px;
  border-radius: 8px;
  font-size: 16px;
  border: none;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .header {
    border-top: 40px solid $primaryDark;
    background-color: $primary;

    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      margin-top: 40px;
    }

    h1 {
      color: $white;
      margin: 16px 0px 40px;
    }
  }

  .footer {
    background-color: $primary;
    height: 48px;
  }
}
